USE [BlackSip]
GO
/****** Object:  StoredProcedure [dbo].[SPGETVISITANTESPROCESADOS]    Script Date: 18/12/2019 9:06:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE TYPE = 'P' AND NAME = 'SPGETVISITANTESPROCESADOS') 
	DROP PROCEDURE [DBO].[SPGETVISITANTESPROCESADOS] 
GO 
CREATE PROCEDURE [DBO].[SPGETVISITANTESPROCESADOS] 
AS
BEGIN
	UPDATE Visitante SET Procesado = 1 WHERE Procesado = 0;
	SELECT TOP 1 * FROM Visitante WHERE Procesado = 1 ORDER BY Id ASC;
END

